# Data Structure
1. Tuple
2. List
3. Set
4. Dictionary 


* In Python, there are several different data structures available, each with their own specific characteristics and uses. Some of the most commonly used data structures in Python are lists, sets, dictionaries, and tuples.

* Lists are an ordered collection of items that can be of any data type. They are useful for storing a collection of related items, such as a list of students in a class or a list of products in a shopping cart. Lists are easy to work with and provide fast access to elements using indices.

* Sets are an unordered collection of unique items, which means that there are no duplicates allowed in a set. Sets are useful for storing a collection of distinct items, such as a set of unique words in a document or a set of unique user IDs. Sets provide fast membership testing and allow you to perform various set operations, such as intersection, union, and difference.

* Dictionaries are an unordered collection of key-value pairs, where each key is unique and is associated with a value. Dictionaries are useful for storing data that needs to be quickly accessed and retrieved, such as a dictionary of phone numbers or a dictionary of product prices. They are also useful for storing data that needs to be grouped or organized, such as a dictionary of student grades or a dictionary of product categories.

* Tuples are an immutable (i.e., unchangeable) sequence of items that can be of any data type. They are useful for storing data that should not be modified, such as a record of transactions or a list of constants. Tuples are also useful for returning multiple values from a function.

* It is not necessary to stick to just one data structure in Python. In fact, it is often useful to use different data structures depending on the specific needs of your program. For example, you might use a list to store a collection of related items, a set to store a collection of distinct items, a dictionary to store data that needs to be quickly accessed and retrieved, and a tuple to store data that should not be modified.

* By choosing the appropriate data structure for the task at hand, you can make your program more efficient and easier to work with.

# Tuple

* A tuple is a data structure in Python that is similar to a list, but it is immutable, meaning that its elements cannot be modified once created. Tuples are represented by a sequence of values separated by commas and enclosed in parentheses.

* Tuples have a number of useful methods and properties, such as count and index, which allow you to count the number of occurrences of an element in a tuple or find the index of an element in a tuple, respectively.

* Tuples are generally used when you want to store a collection of related items that you don't plan on modifying. They are also often used as keys in dictionaries, since they are immutable and therefore hashable.

* In Python, tuples are implemented using a combination of arrays and linked lists. The elements of a tuple are stored in an array, and the links between the elements are stored in a linked list. This allows for efficient access to the elements of the tuple, as well as fast insertion and deletion of elements.

* To sum up, tuples are a useful data structure for storing and manipulating immutable collections of data. They are efficient and convenient to use in a variety of situations, such as when you want to store a set of related items that you don't plan on modifying or when you need to use a tuple as a key in a dictionary.

* In summary, tuples are a useful data structure when you need to store a collection of related items that should not be modified. They are similar to lists, but they are more efficient in terms of memory usage and performance, since they are implemented using arrays and do not have the overhead of list methods and operations.

Here is an example of creating and accessing elements in a tuple:

* count() - returns the number of times a specific value appears in the tuple
* index() - returns the index of the first occurrence of a specific value in the tuple
* len() - returns the length of the tuple
* max() - returns the maximum value in the tuple
* min() - returns the minimum value in the tuple
* sorted() - returns a new sorted list from the tuple
* sum() - returns the sum of all values in the tuple
* tuple() - returns a new tuple from a sequence or iterable
* (*) - repeats the tuple a specified number of times
* (+) - concatenates two or more tuples
* == - compares the values in two tuples
* != - checks if the values in two tuples are not equal
* <  checks if the values in one tuple are less than the values in another tuple
* <=  checks if the values in one tuple are less than or equal to the values in another tuple
* (>)  checks if the values in one tuple are greater than the values in another tuple
* (>=)  checks if the values in one tuple are greater than or equal to the values in another tuple
* in - checks if a value is in the tuple
* not in - checks if a value is not in the tuple
* is - checks if two variables refer to the same object
* is not - checks if two variables do not refer to the same object
* del - deletes the tuple
* hash() - returns the hash value of the tuple
* iter() - returns an iterator object for the tuple
* reversed() - returns a reverse iterator object for the tuple
* slice() - returns a slice object representing the set of indices specified by * range(start, stop, step)
* len() - returns the length of the tuple
* contains() - returns True if a value is in the tuple, False otherwise
* getitem() - returns the value at a specific index in the tuple
* setitem() - sets the value at a specific index in the tuple
* delitem() - deletes the value at a specific index in the tuple
* next() - returns the next value in an iterator
* repr() - returns a string representation of the tuple
* str() - returns a string representation of the tuple
* format() - returns a formatted string representation of the tuple
* hash() - returns the hash value of the tuple
* sizeof() - returns the size of the tuple in bytes



Regenerate response

In [2]:
# Create an empty tuple:
tuple1 = ()
print(tuple1)

()

In [5]:
# Create a tuple with one element:
tuple2 = (5,)
print(tuple2)

(5,)

In [6]:
# Create a tuple with multiple elements:
tuple3 = (1, 2, 3, 4)

# Access elements in a tuple by index:
print(tuple3[0]) # 1
print(tuple3[2]) # 3

1
3

In [7]:


# Access elements in a tuple with negative indices:
print(tuple3[-1]) # 4
print(tuple3[-2]) # 3

# Get the length of a tuple:
print(len(tuple3)) # 4

4
3
4

In [8]:
# Concatenate tuples:
tuple4 = tuple3 + (5, 6)
print(tuple4) # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [9]:


# Repeat a tuple:
tuple5 = tuple3 * 3
print(tuple5) # (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Check if an element is in a tuple:
print(1 in tuple3) # True
print(5 in tuple3) # False

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
False

In [10]:
# Iterate over elements in a tuple:
for element in tuple3:
  print(element)

1
2
3
4

In [11]:
# Get the minimum and maximum element in a tuple:
tuple6 = (5, 3, 2, 4, 1)
print(min(tuple6)) # 1
print(max(tuple6)) # 5

# Get the sum of elements in a tuple:
print(sum(tuple6)) # 15

1
5
15

In [12]:
# Create a tuple from a list:
list1 = [1, 2, 3]
tuple7 = tuple(list1)
print(tuple7) # (1, 2, 3)

(1, 2, 3)

In [13]:
# Create a tuple from a string:
string1 = "abc"
tuple8 = tuple(string1)
print(tuple8) # ('a', 'b', 'c')

# Create a tuple from a range:
tuple9 = tuple(range(5))
print(tuple9) # (0, 1, 2, 3, 4)

('a', 'b', 'c')
(0, 1, 2, 3, 4)

In [14]:
# Unpack a tuple into separate variables:
a, b, c = (1, 2, 3)
print(a) # 1
print(b) # 2
print(c) # 3

1
2
3

In [15]:
# Swap values with tuple unpacking:
x = 5
y = 10
x, y = y, x
print(x) # 10
print(y) # 5

10
5

In [16]:
# Use tuple unpacking to return multiple values from a function:
def divide(a, b):
  return a // b, a % b

quotient, remainder = divide(10, 3)
print(quotient) # 3
print(remainder) # 1

3
1

In [17]:
# Use tuple unpacking to iterate over a list of tuples:
tuple_list = [(1, 2), (3, 4), (5, 6)]
for a, b in tuple_list:
  print(a + b)

3
7
11

In [18]:
# Create a tuple with nested tuples:
tuple10 = ((1, 2), (3, 4), (5, 6))
print(tuple10)

((1, 2), (3, 4), (5, 6))

In [1]:
# Creating a tuple with a generator expression:
generator_tuple = tuple(i for i in range(1, 6))

print(generator_tuple)

(1, 2, 3, 4, 5)

In [2]:
# Using tuples as elements in a set:
set_1 = {(1, 2), (3, 4), (5, 6)}

print(set_1)

{(1, 2), (3, 4), (5, 6)}

# List

* A list is a data structure that is used to store an ordered collection of items. It is an ordered sequence of elements, and each element can be of any data type. Lists are often used to store a collection of related items, such as a list of students in a class or a list of products in a shopping cart.

* In Python, lists are implemented as dynamic arrays. This means that they can grow and shrink in size as needed. When you add an element to a list, Python will automatically allocate more memory to accommodate the new element. Similarly, when you remove an element from a list, Python will free up the memory that was previously occupied by that element.

* There are many situations where lists are useful. For example, you might use a list to store a series of numbers, a list of names, a list of dates, or a list of objects. Lists are also often used in loops and iteration, as you can iterate over the elements in a list using a for loop.

* You can perform various operations on lists, such as accessing elements, modifying elements, adding elements, removing elements, and sorting elements. Lists also support many built-in functions, such as len() (to find the length of the list), min() and max() (to find the minimum and maximum elements in the list), and sum() (to find the sum of the elements in the list).

* In summary, lists are a powerful and flexible data structure that are widely used in programming. They are useful for storing and manipulating collections of items, and they provide many built-in functions and operations that make it easy to work with lists.

Here is a list of functions that can be performed on lists in Python, along with brief explanations:

* append() - adds an element to the end of the list
* clear() - removes all elements from the list
* copy() - returns a shallow copy of the list
* count() - returns the number of occurrences of an element in the list
* extend() - extends the list by appending elements from an iterable
* index() - returns the index of the first occurrence of an element in the list
* insert() - inserts an element at a given position in the list
* pop() - removes and returns the element at a given position in the list
* remove() - removes the first occurrence of a given element from the list
* reverse() - reverses the elements of the list in place
* sort() - sorts the elements of the list in ascending order
* all() - returns True if all elements of the list are True, False otherwise
* any() - returns True if any element of the list is True, False otherwise
* enumerate() - returns an enumerate object that contains pairs (index, element)
* filter() - returns a list of elements for which a given function returns True
* map() - applies a given function to each element of the list and returns a new list
* max() - returns the maximum element of the list
* min() - returns the minimum element of the list
* sum() - returns the sum of the elements of the list
* del - deletes an element at a given position or a slice of elements from the list
* len() - returns the length of the list
* slice() - returns a slice of the list
* in - returns True if an element is in the list, False otherwise
* +: concatenates two lists
* -: repeats the elements of a list a given number of times
* == - returns True if two lists are equal, False otherwise
* <  returns True if a list is lexicographically less than another list, False otherwise
* (>) returns True if a list is lexicographically greater than another list, False otherwise
* (<=)  returns True if a list is lexicographically less than or equal to another list, False otherwise
* (>=) : returns True if a list is lexicographically greater than or equal to another list, False otherwise




Regenerate response

In [6]:
# Creating a list:

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# Accessing elements in a list:

# Access the first element
first_element = numbers[0]

# Access the third element
third_element = numbers[2]


print(first_element,third_element)

1 3

In [8]:
# Modifying elements in a list:

# Change the value of the first element
numbers[0] = 100

# Change the value of the third element
numbers[2] = 300


print(numbers)

[100, 2, 300, 4, 5]

In [9]:
# Adding elements to a list:

# Add an element to the end of the list
numbers.append(6)

print(numbers)

# Insert an element at a specific index
numbers.insert(2, 200)


print(numbers)

[100, 2, 300, 4, 5, 6]
[100, 2, 200, 300, 4, 5, 6]

In [10]:
# Removing elements from a list:

# Remove the last element from the list
numbers.pop()
print(numbers)

# Remove an element at a specific index
numbers.pop(2)
print(numbers)

# Remove all elements from the list
numbers.clear()
print(numbers)

[100, 2, 200, 300, 4, 5]
[100, 2, 300, 4, 5]
[]

In [13]:
# Finding the length of a list:
numbers = [1, 2, 3, 4, 5]
num_elements = len(numbers)
print(num_elements)

5

In [14]:
# Sorting a list:

# Sort a list in ascending order
numbers.sort()
print(numbers)

# Sort a list in descending order
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [15]:
# Reversing a list:

numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

In [16]:
# Checking if an element is in a list:

if 3 in numbers:
    print("3 is in the list")

3 is in the list

In [18]:
# Counting the number of occurrences of an element in a list:
numbers.append(3)
numbers.append(3)
numbers.append(3)

print(numbers)

count = numbers.count(3)
print(count)

[1, 2, 3, 4, 5, 3, 3, 3, 3, 3]
6

In [19]:
# Getting the index of an element in a list:

index = numbers.index(3)
print(index)

2

In [20]:
# Iterating over a list:

for number in numbers:
    print(number)

1
2
3
4
5
3
3
3
3
3

In [21]:
# Iterating over a list with an index:

for i, number in enumerate(numbers):
    print("Index:", i, "Number:", number)

Index: 0 Number: 1
Index: 1 Number: 2
Index: 2 Number: 3
Index: 3 Number: 4
Index: 4 Number: 5
Index: 5 Number: 3
Index: 6 Number: 3
Index: 7 Number: 3
Index: 8 Number: 3
Index: 9 Number: 3

In [22]:
# Copying a list:

new_list = numbers.copy()
print(new_list)

[1, 2, 3, 4, 5, 3, 3, 3, 3, 3]

In [23]:
# Concatenating lists:

combined_list = numbers + [7, 8, 9]
print(combined_list)

[1, 2, 3, 4, 5, 3, 3, 3, 3, 3, 7, 8, 9]

In [24]:
# Splitting a list into smaller lists:

# Split the list into sublists of length 2
sublists = [numbers[i:i+2] for i in range(0, len(numbers), 2)]
print(sublists)

[[1, 2], [3, 4], [5, 3], [3, 3], [3, 3]]

In [26]:
# Flattening a list of lists:

flat_list = [item for sublist in numbers for item in sublists]
print(flat_list)

[[1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3], [1, 2], [3, 4], [5, 3], [3, 3], [3, 3]]

In [27]:
# Filtering a list:

# Get a list of all even numbers
evens = [x for x in numbers if x % 2 == 0]
print(evens)

[2, 4]

## Set

* A set is a data structure that stores a collection of unique items. It is an unordered collection, which means that the items are not stored in a specific order and the order may change over time.

* Sets are implemented in Python using the set data type. You can create a set by enclosing a sequence of items in curly braces {}, or by using the set() function.

* In the backend, sets are implemented using a data structure called a hash table. A hash table is a data structure that stores data in an array-like structure and uses a hash function to map the data to specific indices in the array. 

* This allows sets to efficiently store and retrieve items, making them useful for tasks such as membership testing (checking if an item is in the set) and element insertion and deletion.

* Sets are useful when you need to store a collection of distinct items and perform operations on them, such as intersection, union, and difference. They are also useful for removing duplicate items from a collection, as sets do not allow duplicates.

Some examples of when you might use a set include:

1. Storing a collection of unique words in a document
2. Keeping track of unique user IDs in a database
3. Removing duplicate items from a list
4. Checking if an item is in a collection

It is important to note that sets are unordered, so they do not support indexing or slicing. They also do not support element modification, as the elements in a set are considered to be immutable (cannot be changed).

* add() - Adds an element to the set
* clear() - Removes all elements from the set
* copy() - Returns a copy of the set
* difference() - Returns the difference between two sets as a new set
* difference_update() - Removes the elements in one set from another set
* discard() - Removes an element from the set if it is present
* intersection() - Returns the intersection of two sets as a new set
* intersection_update() - Removes the elements in one set that are not present in both sets
* isdisjoint() - Returns True if the sets have a null intersection
* issubset() - Returns True if one set is a subset of another set
* issuperset() - Returns True if one set is a superset of another set
* pop() - Removes and returns an arbitrary element from the set
* remove() - Removes an element from the set, raising an error if it is not present
* symmetric_difference() - Returns the symmetric difference of two sets as a new set
* symmetric_difference_update() - Inserts the symmetric difference of two sets into the first set
* union() - Returns the union of two sets as a new set
* update() - Inserts the elements in one set into another set
* len() - Returns the number of elements in the set
* max() - Returns the maximum element in the set
* min() - Returns the minimum element in the set
* sorted() - Returns a new sorted list from elements in the set
* sum() - Returns the sum of all elements in the set
* all() - Returns True if all elements in the set are True
* any() - Returns True if any element in the set is True
* enumerate() - Returns an enumerate object containing the set's index and value
* filter() - Filters the set based on a function
* map() - Applies a function to all elements in the set
* reversed() - Returns a reversed iterator over the set
* zip() - Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the sets
* contains() - Returns True if an element is in the set
* get() - Returns the value for a key, or a default value if the key is not present
* items() - Returns a view of the set's key-value pairs
* keys() - Returns a view of the set's keys
* values() - Returns a view of the set's values

In [28]:
# Creating a set:

numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [29]:
# Accessing elements in a set:

# Check if an element is in the set
if 3 in numbers:
    print("3 is in the set")

3 is in the set

In [30]:
# Modifying a set:

# Add an element to the set
numbers.add(6)
print(numbers)

# Remove an element from the set
numbers.remove(3)
print(numbers)

# Clear the set
numbers.clear()
print(numbers)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
set()

In [31]:
# Finding the length of a set:
numbers = {1, 2, 3, 4, 5}
num_elements = len(numbers)

print(num_elements)

5

In [32]:
# Iterating over a set:
for number in numbers:
    print(number)

1
2
3
4
5

In [33]:
# Copying a set:

new_set = numbers.copy()
print(new_set)

{1, 2, 3, 4, 5}

In [34]:
# Union of sets:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)  # {1, 2, 3, 4, 5}

print(union)

{1, 2, 3, 4, 5}

In [35]:
# Intersection of sets:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1.intersection(set2)  # {3}

print(intersection)

{3}

In [36]:
# Difference of sets:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1.difference(set2)  # {1, 2}

print(difference)

{1, 2}

In [37]:
# Symmetric difference of sets:

set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference = set1.symmetric_difference(set2)  # {1, 2, 4, 5}

print(symmetric_difference)

{1, 2, 4, 5}

In [38]:
# Subset check:

set1 = {1, 2, 3}
set2 = {1, 2}
is_subset = set2.issubset(set1)  # True

print(is_subset)

True

In [39]:
# Superset check:

set1 = {1, 2, 3}
set2 = {1, 2}
is_superset = set1.issuperset(set2)  # True

print(is_superset)

True

In [40]:
# Disjoint sets check:

set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)  # True

print(are_disjoint)

True

In [ ]:
# Frozen sets:

frozen_set = frozenset({1, 2, 3})

## Dictionary

* A dictionary is a data structure that stores a collection of key-value pairs. In a dictionary, each key is unique and is associated with a value.

* In Python, dictionaries are implemented using hash tables. A hash table is a data structure that stores data in an array-like structure and uses a hash function to map keys to indices in the array. When you try to access a value in a dictionary using a key, the hash function is used to calculate the index of the array where the value is stored. This allows for efficient insertion, deletion, and retrieval of data in the dictionary.

* Dictionaries are often used to store data that needs to be quickly accessed and retrieved, such as a dictionary of phone numbers or a dictionary of product prices. They are also useful for storing data that needs to be grouped or organized, such as a dictionary of student grades or a dictionary of product categories.

* To create a dictionary in Python, you can use curly braces {} and specify key-value pairs separated by a colon : 

* You can use dictionaries whenever you need to store data that needs to be quickly accessed and retrieved, or when you need to group or organize data. They are particularly useful when you have a large amount of data and need to efficiently search for specific values.

here is a list of dictionary functions in Python with brief explanations:

* clear(): Removes all key-value pairs from the dictionary.
* copy(): Returns a shallow copy of the dictionary.
* fromkeys(iterable[, value]): Returns a new dictionary with keys from the iterable and values set to the specified value.
* get(key[, default]): Returns the value for the specified key, or the default value if the key is not in the dictionary.
* items(): Returns a view object that displays a list of key-value pairs in the dictionary.
* keys(): Returns a view object that displays a list of keys in the dictionary.
* pop(key[, default]): Removes the key-value pair for the specified key and returns the value, or the default value if the key is not in the dictionary.
* popitem(): Removes and returns an arbitrary key-value pair from the dictionary.
* setdefault(key[, default]): Returns the value for the specified key, or sets the key-value pair to the default value if the key is not in the dictionary.
* update(other_dict): Updates the dictionary with key-value pairs from the other dictionary.
* values(): Returns a view object that displays a list of values in the dictionary.
You can also use various operations and methods with dictionaries, such as:

* dictionary[key]: Accesses the value for the specified key.
* dictionary[key] = value: Assigns a value to the specified key.
* del dictionary[key]: Removes the key-value pair for the specified key.
* key in dictionary: Tests if the specified key is in the dictionary.
* len(dictionary): Returns the number of key-value pairs in the dictionary.
* for key in dictionary:: Iterates over the keys in the dictionary.
* for key, value in dictionary.items():: Iterates over the key-value pairs in the dictionary.
* for value in dictionary.values():: Iterates over the values in the dictionary.

In [41]:
# Creating a dictionary:

person = {'name': 'John', 'age': 30}

print(person)

{'name': 'John', 'age': 30}

In [42]:
# Accessing elements in a dictionary:

# Access the value for the 'name' key
name = person['name']
print(name)

# Access the value for the 'age' key
age = person['age']
print(age)

John
30

In [43]:
# Modifying elements in a dictionary:
# Change the value for the 'name' key
person['name'] = 'Jane'
print(person)

# Change the value for the 'age' key
person['age'] = 35
print(person)

{'name': 'Jane', 'age': 30}
{'name': 'Jane', 'age': 35}

In [ ]:
# Adding elements to a dictionary

# Add a new key-value pair
person['gender'] = 'female'

In [44]:
# Removing elements from a dictionary:

# Remove a key-value pair by key
del person['age']
print(person)

# Remove all key-value pairs
person.clear()
print(person)

{'name': 'Jane'}
{}

In [49]:
# Finding the length of a dictionary:
person = {'name': 'John', 'age': 30}
num_elements = len(person)
print(num_elements)

2

In [50]:
# Iterating over a dictionary:

for key, value in person.items():
    print(key, value)

name John
age 30

In [51]:
# terating over the keys in a dictionary:

for key in person.keys():
    print(key)

name
age

In [52]:
# Iterating over the values in a dictionary:

for value in person.values():
    print(value)

John
30

In [53]:
# Checking if a key is in a dictionary:

if 'name' in person:
    print("'name' is a key in the dictionary")

'name' is a key in the dictionary

In [55]:
# Getting the keys of a dictionary as a list:
keys = list(person.keys())
print(keys)

['name', 'age']

In [56]:
# Sorting a dictionary by key:

sorted_dict = dict(sorted(person.items()))
print(sorted_dict)

{'age': 30, 'name': 'John'}